@model SmartBazar.Models.ViewModels.Product
    @{
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        #box {
            border: 1px solid black;
            height: 100%;
        }

        #main-div {
            height: 700px;
            background-image: url('../../Content/img/building6.jpg');
            background-size: 100% 900px;
        }

        .insidebox {
            border: 1px solid black;
            margin: 10% auto 10% auto;
            max-width: 700px;
            min-width: 200px;
            padding-left: 60px;
            padding-right: 60px;
            border-radius: 10px;
            background-color: whitesmoke;
        }

        div h1 {
            text-align: center;
        }

        p#para {
            text-align: center;
            font-size: 14px;
        }
    </style>

    <!-- Create Product -->
    <div id="main-div">
        <div id="box" class="img-responsive">
            @using (Html.BeginForm("Create",
                            "Product",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
            {
            <div class="insidebox">
                <div> <h1>Post An Ad</h1></div>



                <div class="form-group form-group-lg">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-send"></span></div>
                        @Html.DropDownListFor(x => x.pro_fk_Cat_id, ViewBag.categoryList as SelectList, "--select--", new { @class = "form-control" })
                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_fk_Cat_id) </span>
                </div>

                <div class="form-group form-group-lg">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right"></span></div>
                        @Html.TextBoxFor(x => x.pro_name, new { @class = "form-control", @placeholder = "Product Name" })
                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_name) </span>
                </div>

                <div class="form-group form-group-lg">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-piggy-bank"></span></div>
                        @Html.TextBoxFor(x => x.pro_price, new { @class = "form-control", @placeholder = "Price" })
                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_price) </span>

                </div>

                <div class="form-group form-group-lg">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-th-list"></span></div>
                        @Html.TextBoxFor(x => x.pro_des, new { @class = "form-control", @placeholder = "Description" })
                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.pro_des) </span>
                </div>


                <div class="form-group form-group-lg">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></div>
                        <input type="file" name="imgFile" id="imgFile" class="form-control" required="required" />
                    </div>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-success btn-block" />
                </div>

                <div class="form-group">
                    <p style="color:red">@ViewBag.ErrorMessage</p>
                    <p style="color:forestgreen">@ViewBag.SuccessMessage</p>
                </div>

            </div>
            }
        </div>

    </div>
    <!--// Create Product -->
